/src/main/java/com/automation/framework/tools/EncodingAndDecodingStrings.java
/src/main/java/com/automation/framework/tools/Tc_EncryptedPassword.java
 **/.DS_Store
**.log
.idea
target
*.iml
*.zip
globalproperties.properties
.gitignore